
  ul{
    list-style-type: none;
    background-color: rgb(34, 36, 37);
    overflow: hidden;
    margin-bottom: 70px;
   
  }
  
  nav li{
    float: left;
    padding: 15px 17px;
  }
  
  nav li.right {
    float: right;
    padding: 18px 17px;
  }
  
  nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;

  }

  #movies-link {
    color:#f8002f;
    font-size: 25px;
    font-weight: bolder;
  }

  #search{
    margin: 19px 17px;
    font-size: 17px;
    outline: none;
    width: 150px;
    height: 25px;
  }
  #search:focus{
    width: 200px;
  }
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {
      float: none;
      text-align: center;
    }
  
  }
  
  
  
  
  